.Note{
    margin: 1rem 0;
    height: 10rem;
    max-height: 200px;
    border-radius: 20px;
    width: 80vw;
    max-width: 300px;
    background-color: #093119;
    text-align: left;
    padding: 1rem 1.5rem;
    box-sizing: border-box;
}