$backgroundColor :#220022;

.DeletedLayOut{
    min-height: 90vh;
    background-color: $backgroundColor ;
    padding: 1rem 1rem;
}

@media (min-width: 600px) {
    .Notes{
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
    }
}