$inputFieldColor : #11000C;

.InputField{
 padding: 1rem 1rem;
 background-color: $inputFieldColor;
 color: white;
 border: none;
 width: 100%;
 font-size: 1.2rem;
 border-radius: 15px;

}

.InputField:focus{
  height: 8rem;

}

.Container{
  display: flex;
  align-items: center;
  justify-content: center;

  
  .SaveBttn{
    color:white;
}
.SaveBttn:hover{
    color: #ccc;
}
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
  }
  
.Icon{
    font-size: 2rem;
    vertical-align: middle;
}
.IconText{
    font-size: 1rem;
    vertical-align: middle;
}


.Span{
  display: flex;
  border-radius: 10px;

  background-color: $inputFieldColor;
  justify-content: stretch;
  align-items: center;
  width: 60vw;
 max-width: 600px;
}