.PinnedNotes{
    padding: 1rem 0.5rem;
    word-wrap: break-word;

}

@media (min-width: 600px) {
    .Notes{
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
    }
}

